html
    head
        title= "D3.js learning"
        link(
            rel="stylesheet"
            href="/static/css/main.css"
        )

    body


        script(
            src="https://code.jquery.com/jquery-3.2.1.min.js"
        )
        script(
            src="https://d3js.org/d3.v4.js"
        )
        script(
            src='/static/js/scales.js'
        )
        